.fullwidth {
    width: 100%;
}

/* Горизонтальная прокрутка для мобильных */
@media screen and (max-width: 768px) {
    .wy-table-responsive {
        overflow-x: auto;
    }
}
table.center-text-align td {
    text-align: center
}